.temp-course-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
  }
  .empty-message {
  padding: 40px;
  text-align: center;
  background-color: #f9f9fb;
  border: 2px dashed #ccc;
  border-radius: 12px;
  color: #777;
  font-size: 1.1rem;
  margin: 20px 0;
  animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}